<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>WebTail </title>
    <!--<script src="{{ static_url("jquery.min.js") }}" type="text/javascript"></script> -->
    <!--<link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css"/>-->
  </head>
  <body>
	  Welcome to webtail 
	  <p> Please enter full path of log file to view </p>
    <div id="body">
      <div id="input">
        <form action="/tail" method="post" id="messageform">
          <label for="logfileid">
	  <input type="text" name="logfile" id="logfileid">
	  <input type="submit" value="{{ _("Post") }}"/>
        </form>
      </div>
    </div>
  </body>
</html>
