<html>
<head>
    <title>WebTail: {{ logfile }}</title>
</head>
<body>
    <p>Logging file {{ logfile }} </p>
    <div id="file" style="border: 1px solid ;"></div>
    <script type="text/javascript" charset="utf-8">
	var ws;
        function write_line(l) {
            document.getElementById('file').innerHTML +=  l + '<br/>';
        }
	function marker(){
		write_line("<div style='background-color:red;width: 100%;height:2%;'></div>");
	}

	function wsclose(){
		ws.close();		
	}

        if ("MozWebSocket" in window) {
            WebSocket = MozWebSocket;
        }

        if (WebSocket) {

		write_line("ws://localhost:9999/{{logfile}}/tailreader");
		ws = new WebSocket("ws://localhost:9999/tailreader/");

            ws.onopen = function() {
		write_line("<b>Websocket open</b>");
		};

            ws.onmessage = function (evt) {
                write_line(evt.data);
		//write_line("Websocket on message");
            };

            ws.onclose = function() {
		write_line("<b>Websocket closed</b>");
	    };
        } else {
            alert("WebSocket not supported");
        }
    </script>
<input type="button" value="Add Marker" onClick="marker();">
<input type="button" value="Disconnect" onClick="wsclose();">
</body>
</html>
